body{
  background-color: rgba(20, 20, 40, 0.2);
}

#headTitle{
  font-size: 150%;
    margin-bottom: 3%;
}
#upperNav{
  margin-bottom: 3%;
}

table{
  margin: 50px 0;
}

.urgent{
  color: indianred;
}

.notUrgent{
  font-size: 10px;
}

.margin50{
  margin-bottom: 50px;
  margin-top: 50px;
}

.paddingZero{
  padding: 0;
}


#lambaCell{
  padding-top: 23px;
}

.lookLink{
  color: #007BFF;
}

.looklink :hover{
    color: #007BFF;
    text-decoration: underline;
}

.list-group-item{
  background-color: rgba(20, 20, 40, 0)
}

#listHead{
  font-size: 150%;
}

td, th{
  max-height: 33.6px;
}

.smallText{
  font-size: 10px;
}
